@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DFEDFC
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#93C8FC;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base{
  html{
    font-family: "Poppins", "sans-serif";
  }

  body{
    background-color: transparent;
    overflow-x: hidden;
  }
}

@layer components{
  .full-width{
    @apply w-full xl:max-w-[1440px]
  }
  .margin-x{
    @apply mx-8 
  }

  .margin-y{
    @apply my-8 
  }

  .section-margin-y{
    @apply mt-4
  }
  .padding-x{
    @apply px-6 lg:px-16
  }

  .padding-y{
    @apply py-3 md:py-2
  }
}